@model ICollection<PartCategoryViewModel>;
@{
    ViewData["Title"] = "Models";
}
@using Microsoft.AspNetCore.Identity;
@using CarParts.Data.Models;
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<div class="text-center">
    <h1 class="display-4">@ViewBag.Name</h1>
    <p>This is are the model of @ViewBag.Name that we sale parts for:</p>
</div>


<div class="row mt-2 mb-4">
  @foreach (var modelModel in Model)
  {
    <div class="card col-6 col-lg-3 game-card">
        <img src="@modelModel.ImageUrl"
             class="card-img-top img-fluid card-image rounded" data-toggle="tooltip"
             data-placement="bottom" title="@modelModel.Name">
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-center">@modelModel.Name</li>
            </ul>
            <a asp-controller="Shop" asp-action="Categories" asp-route-Make="@ViewBag.Name" asp-route-Model="@modelModel.Name" class="btn btn-block btn-primary">Products Categories</a>
        </div>
    </div>
  }
</div>
