@model AddPartFormModel

@{
    ViewBag.Title = "Add Part";
}

<div class="container">
    <div class="row">
        <div class="offset-md-2 col-md-8 com-sm-12 mb-5">
            <h2 class="heading-margin" text-center>Add Part</h2>
            <form method="post">
                <div class="form-group">
                    <label asp-for="Name">Name</label>
                    <input asp-for="Name" class="form-control" placeholder="Add part name...">
                    <span asp-validation-for="Name" class="small text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ImageUrl">Image Url</label>
                    <input asp-for="ImageUrl" class="form-control" placeholder="Add image Url...">
                    <span asp-validation-for="ImageUrl" class="small text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MakeName">Make</label>
                    <input asp-for="MakeName" class="form-control"  value="@Model.MakeName" readonly>
                    <span asp-validation-for="MakeName" class="small text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ModelId">Model</label>
                    <select asp-for="ModelId" class="form-control">
                        @foreach (var carModel in Model.Models)
                        {
                            <option value="@carModel.Id">@carModel.Name</option>
                        }
                    </select>
                    <span asp-validation-for="ModelId" class="small text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CategoryId">Category</label>
                    <select asp-for="CategoryId" class="form-control">
                        @foreach (var carCategory in Model.Categories)
                        {
                            <option value="@carCategory.Id">@carCategory.Name</option>
                        }
                    </select>
                    <span asp-validation-for="CategoryId" class="small text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Price">Price</label>
                    <input asp-for="Price" class="form-control" placeholder="Add part price...">
                    <span asp-validation-for="Price" class="small text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Quantity">Quantity</label>
                    <input asp-for="Quantity" value="1" min="1" max="100" class="form-control" placeholder="Add part quantity...">
                    <span asp-validation-for="Quantity" class="small text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description">Description</label>
                    <textarea asp-for="Description" class="form-control" rows="3" placeholder="Add description..."></textarea>
                    <span asp-validation-for="Description" class="small text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary" value="Add">Add</button>
            </form>
        </div>
    </div>
</div>