@model ICollection<PartViewModel>;
@{
    ViewBag.Title = "My Parts";
}


@if (!Model.Any())
{
    <h1>You don't have available parts.</h1>
}
else
{
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Make</th>
                <th scope="col">Name</th>
                <th scope="col">Category</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Info</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var part in Model)
            {
            <tr>
                <td>@part.MakeName</td>
                <td>@part.Name</td>
                <td>@part.CategoryName</td>
                <td>@part.Price$</td>
                <td>@part.Quantity</td>
                <td>
                    <a type="button" class="btn btn-success"
                       asp-controller="Parts"
                       asp-action="Edit"
                       asp-route-PartId="@part.Id"
                       a>Edit</a>
                </td>
                <td>
                    <a type="button" class="btn btn-danger"
                       asp-controller="Parts"
                       asp-action="Delete"
                       asp-route-PartId="@part.Id"
                       a>Delete</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
}