@using CarParts.Areas.Admin.Views.Models
@model EditMakeFormModel

@{ ViewBag.Title = "Edit Make"; }



<div class="container">
    <div class="row">

        <div class="col-1 mt-5">
            <img class="card-img-top" style="width: 90px; max-width: 90px; height: 90px; max-height: 90px " src="@Model.ImageUrl" alt="@Model.Name">
            <div class="card-body">
                <p style="text-align:right">@Model.Name</p>
            </div>
        </div>

        <div class="offset-md-2 col-md-8 com-sm-12">
            <h2 class="heading-margin" text-center>@ViewBag.Title</h2>
            <form method="post" enctype="multipart/form-data">
                <input asp-for="Id" value="@Model.Id" readonly hidden>
                <div class="form-group">
                    <label asp-for="Name">Name</label>
                    <input asp-for="Name" value="@Model.Name" class="form-control" placeholder="Edit make name...">
                    <span asp-validation-for="Name" class="small text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ImageUrl">ImageUrl</label>
                    <input asp-for="ImageUrl" value="@Model.ImageUrl" class="form-control" placeholder="Add image Url...">
                    <span asp-validation-for="ImageUrl" class="small text-danger"></span>
                </div>
                <!--
                <div class="form-group">
                    <input type="file" name="makeImage">
                    <span asp-validation-for="Image" class="small text-danger"></span>
                </div>
                    -->
                <button type="submit" class="btn btn-success" value="Add">Edit</button>
            </form>
        </div>
    </div>
</div>