@model OfferInfoViewModel;
@{
    ViewBag.Title = "Info for part:";
}


<div class="text-center">
    <h1 class="display-4">@ViewBag.Title</h1>
</div>


<div class="row">

    <div class="card" style="width: 18rem; margin-bottom: 100px">
        <img class="card-img-top" src="@Model.ImageUrl" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">@Model.Name</h5>
            <p class="card-text">@Model.Description</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Quantity: @Model.Quantity</li>
            <li class="list-group-item">Price: @Model.Price$</li>
        </ul>
    </div>




        <div style="width: 50rem; margin-bottom: 100px;margin-left:50px">
            <form method="post">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label asp-for="BuyerName">Name</label>
                        <input asp-for="BuyerName" class="form-control" placeholder="Enter your name..." readonly>
                        <span asp-validation-for="BuyerName" class="small text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="Email">Email</label>
                        <input asp-for="Email" class="form-control" placeholder="Enter your Email..." readonly>
                        <span asp-validation-for="Email" class="small text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="Phone">Phone</label>
                        <input asp-for="Phone" class="form-control" placeholder="Enter your phone number..." readonly>
                        <span asp-validation-for="Phone" class="small text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Address">Address</label>
                    <input asp-for="Address" class="form-control" placeholder="Enter your address..." readonly>
                    <span asp-validation-for="Address" class="small text-danger"></span>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label asp-for="City">City</label>
                        <input asp-for="City" class="form-control" placeholder="Enter your city..." readonly>
                        <span asp-validation-for="City" class="small text-danger"></span>
                    </div>
                    <div class="form-group col-md-2">
                        <label asp-for="Zip">Zip</label>
                        <input asp-for="Zip" class="form-control" placeholder="Enter your zip code..." readonly>
                        <span asp-validation-for="Zip" class="small text-danger"></span>
                    </div>
                </div>
                <a type="button" class="btn btn-success"
                   asp-controller="Offers"
                   asp-action="Sell"
                   asp-route-PartId="@Model.Id"
                   asp-route-OfferId="@Model.OfferId"
                   a>Sell</a>
                <a type="button" class="btn btn-danger float-right"
                   asp-controller="Offers"
                   asp-action="Decline"
                   asp-route-OfferId="@Model.OfferId"
                   a>Decline</a>
            </form>
        </div>
</div>


    